<h1>Press button to start</h1>
<%= button_to 'Start', start_handler_stats_path, id: "start" %>
<br />

<table>
  <tbody>
    <h1>Last charts</h1>
    <% @stats.each do |stat| %>
    <tr> 
      <td><%= stat.created_at %></td>
        <td><%= link_to 'Show', stat %></td>
        <td><%= link_to 'Destroy', stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


