<!DOCTYPE html>
<html>
<head>
  <title>Pid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="loader" class="spinner">
   <div class="rect1"></div>
   <div class="rect2"></div>
   <div class="rect3"></div>
   <div class="rect4"></div>
  <div class="rect5"></div>
</div>
  <div id="loading" class="loadname"> <span>Loading in progress, please wait </span> </div>
  <div id="content">
    <%= flash[:notice] %>
  <%= yield %>
  </div>
</body>
</html>
